*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}


/******** Navbar **********/

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.nav__logo {
    display: flex;
    gap: 0.5rem;
    
    
}

.logo__title,
li {
    font-size: 1.4rem;
}

.logo__title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-self: center;
   
}

ul {
    display: flex;
    gap: 4rem;
}

li {
    font-weight: 600; 
    list-style: none;
}

li > a {
    color: #090909;
    text-decoration: none;
}

a {
   cursor: pointer; 
}

a:hover,
a:focus,
.view__more__link > a:hover,
.view__more__link > a:focus {
    color:blue;
}


/* Hero Section */


.hero-section {
    
    background-image: url("/images/hero_img.jpg");
    background-size: cover;
    padding: 8.5em 2em 2.5em 2em;
    height: 32rem;    
}

.article__date__hero {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.8em;
}

.article__title__hero > a {
    color: #ffffff;
    font-size: 3.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.article__preview__hero {
    color: #ffffff;
    font-size: 1.6rem;
    text-align: left;
    padding-bottom: 2em;
    margin-top: 0.8em;

}

.article__title__hero > a:hover {
    text-decoration-color: yellowgreen;
    text-decoration-line: underline;
}

/* ****** Blog Section ******** */

.blog-section {
    display: grid;
    grid-template-columns: 370px;
    grid-template-areas:
    "blog_card";
    margin: 5rem 0 10rem 0;
}

.blog__card {
    margin: 3.5em 2em 3em 2em;

}

.blog__img {
    object-fit: cover;
    height: 235px;
    width: 100%;
}

.blog__date,
.blog__title,
.blog__text {
    margin-top: 1rem;
}


.blog__date {
    font-size: 1.5rem;
}
.blog__title {
    font-size: 2.4rem;
    font-weight: bold;
}
.blog__text {
    font-size: 1.6rem;
}


/* ***** Footer ***** */


.footer {
    background-color: #202020;
    padding: 4rem 0;
}

.footer__text,
.footer__copyright {
    text-align: center;
    font-size: 1.2rem;
}

.footer__text {
    color: #ECECEC;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.footer__copyright {
    color: #D7D7D7;
}

/******* Media queries ******* */

@media (max-width: 360px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .hero-section {
        padding-top: 5rem;
        height: 40rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        margin-top: 1rem;
    }

}

@media (min-width: 361px) {

    .blog-section {
        display: grid;
        grid-template-columns: 370px;
        grid-template-areas:
        "blog_card";
        justify-content: center;
    }

}

@media (min-width: 600px) {

    .nav_img {
        width: 35px;
    }

    .logo__title {
        font-size: 2rem;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        height: 45rem;
        padding-bottom: 0;
        padding-top: 0;
        justify-content: flex-end;
    }

    .article__date__hero {
        font-size: 1.6rem;
    }
    .article__title__hero {
        font-size: 4rem;
    }

    .article__title__hero,
    .article__preview__hero {
        max-width: 60%;
    }

      li {
        font-size: 1.6rem;
    }
}

@media (min-width: 1300px) {

    .nav_img {
        width: 35px;
    }

    .logo__title {
        font-size: 2rem;
    }

    .blog-section {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-areas:
        "blog_card blog_card blog_card";
       
    }
  
}



